.glassmorphism{
    /* From https://css.glass */
    background: rgba(13, 17, 55, 0.64);
    /*border-radius: 16px;*/
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(13, 17, 55, 0.3);
}